.underline-animation {
    position: relative;
    transition: all 0.5s ease;
    font-size: 1rem;
    /* Initial font size */
}

.underline-animation::after {
    content: '';
    position: absolute;
    width: 0;
    /* Initial width */
    height: 2px;
    background-color: transparent;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
}

.underline-animation:hover {
    font-size: 1.08rem;
    /* Larger font size on hover */
}

.underline-animation:hover::after {
    width: 100%;
    /* Full width on hover */
    background-color: yellow;
}